@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.container {
  margin-top: 20px;
  max-width: 98% !important;
}
.card-image:first-child img {
  object-fit: cover;
}
.pagination {
  display: flex;
  justify-content: space-between;
}
.hidden {
  display: none;
}
.pagination-previous {
  order: 0;
}
